@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  background:#0d2b4c;
  display: flex;
  font-size: 18px;
  background-size: cover;
}

.container-homa
{
  position: absolute;
  top:230px;
  left: 800px;
  transform: translate(-50%,-50%);
  display: block;
  background: #fff;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px;
}

.container-homa h2,.container-homa h4{
  font-weight: 400;
}

.container2-homa
{
  position: absolute;
  top: 480px;
  left: 800px;
  transform: translate(-50%,-50%);
  display: block;
  background: #fff;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px;
}

.container2-homa h2,.container2-homa h3{
  font-weight: 400;
}

.homa1
{
  position: absolute;
  top:700px;
  left: 400px;
  transform: translate(-50%,-50%);
  display: block;
  background: #7a9ca7;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px;
}

.homa1 h4,.homa1 h3{
  font-weight: 400;
}

.homa2
{
  position: absolute;
  top:710px;
  left: 780px;
  transform: translate(-50%,-50%);
  display: block;
  background: #7aa78e;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px;
}

.homa2 h4,.homa2 h3{
  font-weight: 400;
}

.homa3
{
  position: absolute;
  top:720px;
  left: 1240px;
  transform: translate(-50%,-50%);
  display: block;
  background: #897aa7;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px;
}

.homa3 h4,.homa3 h3{
  font-weight: 400;
}
.homa3:hover, .homa1:hover, .homa2:hover{
  text-shadow: 2px 2px 8px #000000;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  transition:  all 0.5s ease-in;
}
.homa4{
  position: absolute;
  top:950px;
  left: 800px;
  transform: translate(-50%,-50%);
  display: block;
  background: #fff;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px;
}

.homa4 h2{
  font-weight: 400;
}

.homa5{
  position: absolute;
  top:1020px;
  left: 400px;
  width: 50%;
  border: 2px solid #000000;
}

.homaimage {
  display: block;
  width: 100%;
  height: auto;
}

.homaoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #612c51;
}

.homa5:hover .homaoverlay {
  opacity: 1;
  text-shadow: 2px 2px 8px #000000;
}

.homaimagetext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container .text{
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color:#0d2b4c;
}

.container form{
margin-top: -20px;
}

.container form .data{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}

form .data label{
  font-size: 18px;
}


form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}

form .data input:focus{
  border-color: #0d2b4c;
  border-bottom-width: 2px;
}


form .forgot-pass{
  margin-top: -8px;
}
form .forgot-pass a{
  color: #0d2b4c;
  text-decoration: none;
}
form .forgot-pass a:hover{
  text-decoration: underline;
}

form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
}

form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff; 
   background:#0d2b4c;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
   cursor: pointer;
}

form .signup-link{
  text-align: center;
}

form .signup-link a{
  color: #0d2b4c;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
   

.container-fluid{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center
}

nav{
  width: 100%; 
  height:50px;
  background:white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  font-weight:500;
  font-size: 18px;
  color:#34495e;
}

nav .menu a{
  margin:10px 10px ;
  text-decoration: none;
  font-size:18px;
  color: #0d2b4c;
}

nav .menu a:hover{
  text-decoration: underline;
}


.container-fluid h2,.container-fluid h3{
  font-weight: 400;
}

.container-fluid img{
  width: 200px;
}

.table{
  position: absolute;
  top:30%;
  left: 10%;
  margin: 1em 0;
  width: 80%;
  overflow: hidden;  
  background: #0d2b4c;
  color: white;
  border-radius: 1;
  border: 1;
}