<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comparisons Website</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">Homa vs TCP vs UDP</div>
      <div class="menu">
        <a href="/homa">Homa</a>
        <a href="/tcp">TCP</a>
        <a href="/udp">UDP</a>
        <a href="/comparisons">Comparisons</a>
      </div>
    </nav>

  </body>
</html>