<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comparisons Website</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">Homa vs TCP</div>
      <div class="menu">
        <a href="/homa">Homa</a>
        <a href="/tcp">TCP</a>
        <a href="/udp">UDP</a>
        <a href="/comparisons">Comparisons</a>
      </div>
    </nav>

    <div class="graph">
      <img src="graph.png" alt="Graph">
    </div>

    <div class = "comparison_desc">
      <h4>Both HOMA and TCP have the same ratio when it comes to handling increased amounts of data. But what makes HOMA better is its low latency.</h4>
      <h4>The chart above shows that HOMA is around 2000 times faster than TCP which is a result of its low latency.</h4>
    </div>

    <div class="graph2">
      <img src="graph2.png" alt="Data">
    </div>

  </body>
</html>