<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UDP Website</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">UDP Transport Protocol</div>
      <div class="menu">
        <a href="/homa">Homa</a>
        <a href="/tcp">TCP</a>
        <a href="/udp">UDP</a>
        <a href="/comparisons">Comparisons</a>
      </div>
    </nav>
    <div class="container-UDP">
      <h2>What is UDP?</h2>
      <h4>UDP is a transmission protocol used in many network applications that require very fast transmission of data
        but are not reliant on the data being transmitted with complete fidelity. Some examples of network applications
        that greatly benefit from UDP are video streaming and DNS lookups. UDP functions in a very similar way to TCP
        with the exception that it speeds things up by forgoing the establishment of a connection. UDP is, to this day, a integral
        part of many high-performance systems and represents an important part of the modern web.</h4>
    </div>
    
    <div class="UDP1">
      <img src="UDPimage1.png" alt="Avatar" class="UDPimage">
    </div>
    
    <div class="UDP2">
      <h2>UDP:</h2>
      <h4>• Fully Connectionless Protocol 
        • Unreliable (Zero data integrity guarantees)
        • Extremely fast (approaching hardware limit for latency).</h4>
    </div>
    
    <div class="HOMA">
      <h2>HOMA:</h2>
      <h4>• Although also a connectionless protocol it is in a sense “less connectionless” than UDP thanks to its RPC-based structure 
        • Provides enough data integrity to be useful in its intended use cases (datacenter networks) 
        • Fast (performance roughly similar to UDP).</h4> 
    </div>


  </body>
</html>
